<!DOCTYPE html>
<html>
	<head>
		<title>Restful blog</title>
		<link rel= "stylesheet" type= "text/css" href= "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel= "stylesheet" type= "text/css" href= "/stylesheets/app.css">
	</head>
	<body>
	  <div class="ui fixed inverted menu" id= "navbar">
		<div class="ui container">
		  <a href="/" class="header item"><i class="coffee icon"></i>Blog Site</a>
		  <a href="/" class="item">Home</a>
		  <a href="/blogs/new" class="item">New Post</a>
		</div>
	  </div>
	  <br>
	  <br>
	  <br>